.ABout{
    /* padding: 20px; */
}
.about_Title{
    font-size: 1.5rem;
    padding: 9px;
    text-transform: capitalize;
    color: orangered;
    text-align: center;
}
.ABout_p{
    padding: 1em;
    font-weight: lighter;
    font-family: serif;
    line-height: 2em;
}
.ABout_text_Box{
    /* margin: 20px;
    width: 548px;
    height: 490px; */
}
 .ABout img{
    width: 80%;
    margin: 0 auto;
    display: block;
 }
@media only screen and (min-width:768px) {
    .ABout{
       display: flex;
    }
    .about_Title{
        font-size: 1.5rem;
        padding: 4px;
        text-transform: capitalize;
    }
    .ABout img{
        align-self: center;
     width: 60%;
     margin: 0 20px;
     height: 300px;
    }
}