.customerComponent{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.underLay{
    margin-top: 40px;
}
.innerLay{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.LaytextBox{
    margin: 20px;
}
.OverLayName{
    text-transform: capitalize;
    font-size: 1.2rem;
}
.customerImg{
    height: 92px;
    width: 93px;
}
.innerLay{
    /* background-color: blanchedalmond; */
    margin: 40px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.171);
    border-radius: 20px;
    position: relative;
}
.pole{
    width: 30px;
    height:180px;
    position: absolute;
    margin: 50px;
    left: -60px;
    bottom: 20px;
    background-color: #C2C2C2;;
}
.circle{
    background-color: #C2C2C2;
    height:50px;
    width: 50px;
    position: relative;
    z-index: 1;
    top: 140px;
    left: -170px;
    border-bottom: none;
    border-top-right-radius: 50%;
}
/* .underLay:hover .pole  {
background-color:#FA4A0C;
  transition: .5s ease-in all;
}
.underLay:hover  .circle  {
background-color:#FA4A0C;
  transition: .5s ease-in all;
} */
.innerLay:hover .qoutes{
    color: #FA4A0C;
     transition: .5s ease-in all;
}
.qoutes{
    position: absolute;
    right: 5px;
    top: 2px;
    font-size: 5rem;
    font-weight: bolder;
}
.customeTitle , .customP{
    margin: 10px;
}
.OverLayName{
    margin: 10px;
}
.overLayText{
    margin: 10px;
    font-weight: normalr;
}
.CustImg{
    margin: 10px;
}
.partner{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    background-color: black;
    color: white;
}
.PartnerDivText{
    margin-top: 100px;
}
.meat{
    width: 500px;
    margin-top: 50px;
}
.patnerTtile{
    margin: 10px;
    font-size: 48px;
}
.pP{
    margin:10px;
    font-weight:normal;
}
.viewM{
    border: none;
    outline: none;
    padding: 10px;
    border: 3px thin black;
    border-radius: 10px;
    background-color: #FA4A0C;
    width: 300px;
    margin: 20px;
}
@media only  screen  and (max-width:768px){
    .customerComponent{
        margin-top: 0px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .CustImg{
        margin-top: 25px;
        /* width: 300px;
        height: 300px; */
        width: 90%;
        transform: translateX(13px);
    }
    .innerLay{
        margin: 10px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.171);
        border-radius: 20px;
    }
.qoutes{
    font-size: 5.5rem;
    font-weight: bolder;
    color: #C2C2C2;
     position:absolute; 
    bottom:10x;
    right: 5px; 
    margin-top: 20px;
     margin-bottom: 50px; 
    left:300px;
}
    .qoutes{
        font-size: 2rem;
    }
    .customerImg{
        height: 50px;
        width: 80px;
    }
    .partner{
    flex-wrap: wrap;
    }
    .asideCustomerDiv{
        margin-top: 30px;
    }
    .viewM{
    width: 80%;
    margin-left: 50px;
    }
}