.faqsComponents{
    margin: 100px;
}
.faqTitle{
    font-size: 36px;
    text-transform: capitalize;
    text-align: center;
}
.Faqs_P{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    position: relative;
}
.showQuestion{
    position: absolute;
    right: 200px;
    font-size: 1.5rem;
    font-weight: bolder;
    bottom: 10px;
    margin: 20px;}
.Questions{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    margin-bottom  : 20px;
    padding: 10px;
}
.answers{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 10px;
    border-top:solid 2px black;
    padding: 20px;
}
.FAQBOx{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.075);
}
.faq_Container_Header{
   display: flex;
   justify-content: space-between;
   margin-top: 10px;
   width: 100%;
   border: 3px thing black;
   position: relative;
   
}
.answerContainer{
    max-height: 0;
    overflow: hidden;
}
.active{
    max-height: 300px;
    overflow: none;
    transition: .5s all ease-in;
}
.newsLetterDiv{
margin-top: 50px;
background: #FBFBFB;
}
.signUp{
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
    padding:15px;
}
.signText{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    position: relative;
    padding: 10px;
}
.inputDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
input{
    width: 90%;
    padding: 10px;
    border: none;
    outline:none;
}
.newsLetterBTn_show{
    padding: 9px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
     color: white;
     background-color:#FA4A0C;
     border: none;
     outline:none;
    position: relative;
    right: 150px;
    width: 150px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: block;
}
.newsLetterBTn_None{
    display:none;
    padding: 9px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
     color: white;
     background-color:#FA4A0C;
     border: none;
     outline:none;
    position: relative;
    right: 150px;
    width: 150px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media  only screen  and (max-width:768px){
    .faqsComponents{
        margin: 0px;
    } 
    .showQuestion{
        position:absolute;
        right:5px;
        margin: 10px;
    }
    .Questions{
        font-size: 1rem;
        margin: 10px;
    }
    .answerContainer{
    padding-top: 10px;
    }
    .faqTitle{
        font-size: 1.2rem;
        margin: 20px;
    }
    .Faqs_P{
        font-family: Poppins;
        font-size: 1rem;
        font-weight: 300;
        line-height: 30px;
        text-align: center;
        position: relative;
        margin: 20px;
    }
    
.newsLetterDiv{
    margin-top: 50px;
    background: #FBFBFB;
    }
    .signUp{
        font-size: 20px;
        text-transform: capitalize;
        text-align: center;
    }
    .signText{
        font-family: Poppins;
        font-size: 20px;
        font-weight: 300;
        line-height: 30px;
        text-align: center;
        position: relative;
    }
    .inputDiv{
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin: 30px; */
    }
    input{
        width: 100%;
        padding: 10px;
        border: none;
        outline:none;
    }
    .newsLetterBTn_show{
        display: none;
        padding: 9px;
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
         color: white;
         background-color:#FA4A0C;
         border: none;
         outline:none;
        position: relative;
        right: 150px;
        width: 150px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    input{
        display: block;
    }
    .newsLetterBTn_None{
        display:block;
        padding: 9px;
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
         color: white;
         background-color:#FA4A0C;
         border: none;
         outline:none;
        position:absolute;
        right: 10px;
         margin: 0px;
        width: 90%;
        border-radius: 20px;
    }
    .inputDiv{
        display: block;
    }
    .signText{
        font-size: 16px;
        padding-top: 25px;
    }
}
