.hero__div{
    background-color: black;
    justify-content: space-evenly;
    display: flex;
    width: 100%;
    align-items: center;
}


.hero__div img{
    width: 80%;
    max-width: 550px;
    height: 500px;
}
.exp{
    font-size: x-large;
    font-weight: bolder;
    color: #FA4A0C;
    font-size: 2rem;
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.bistro{
      font-size: x-large;
    font-weight: bolder;
    color:whitesmoke;
    font-size: 2rem;
    text-transform: capitalize;
    margin-top: 20px;
    text-shadow: 0px 0px 5px orange;
}

.heroP{
    line-height: 2em;
    font-style: italic;
    color: white;
    font-size: 15px;
   text-transform: lowercase;
   margin-top: 20px;
   font-family: sans-serif;
}
.heroBTn{
    padding: 8px;
    width: 200px;
    border:none;
    outline: none;
    background-color: #FA4A0C;
    border-radius: 10px;
    color:black;
    font-weight: bolder;
    text-transform: capitalize;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 15px;
}
.threeBoxex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.box{
    background-color: white;
    box-shadow: -2px 2px 2px 2px rgba(0, 0, 0, 0.212);
    margin: 20px;
    padding: 10px;
    text-align: center;
    width: 329px;
    height: 166px;
    border-radius: 7px;
    position: relative;
    bottom: 50px;
    transition: all 2s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box img {
    width: 50px;
    height: 50px;
}
.boxTExt{
   margin-top: 10px;
   font-style: italic;
   font-weight: bolder;
}
.box:hover{
    background: #0a0a0a;
    box-shadow: 2px -2px 1px 1px #fa4b0c7a;
    color: white;
}
.boxExtraInfo{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 5px;
  font-weight: bold;
}
@media only screen and (max-width:768px) {
    .HErodiv{
        background-color: #121212;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .heroImg{
        width: 100%;
        transform: translateX(-30px);
    }
    .HEroTExtBox{
        margin-top: 50px;
        margin-left: 50px;
    }
    .threeBoxex{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}