.HErodiv{
    background-color: black;
    display: flex;
    width: 100%;
}
.heroImg{
    width: 500px;
    height: 500px;
}
.exp{
    font-size: x-large;
    font-weight: bolder;
    color: white;
    font-size: 2rem;
    text-transform: capitalize;
}
.bistro{
      font-size: x-large;
    font-weight: bolder;
    color:#FA4A0C;
    font-size: 2rem;
    text-transform: capitalize;
    margin-top: 20px;
}
.HEroTExtBox{
    margin-top: 170px;
    margin-left: 50px;
}
.heroP{
    font-size:medium;
    font-weight: normal;
    color: white;
    font-size: 15px;
   text-transform: lowercase;
   margin-top: 20px;
   font-family: sans-serif;
}
.heroBTn{
    padding: 8px;
    width: 200px;
    border:none;
    outline: none;
    background-color: #FA4A0C;
    border-radius: 10px;
    color:white;
    text-transform: capitalize;
    margin-top: 15px;
}
.threeBoxex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    background-color: white;
    box-shadow: -2px 2px 2px 2px rgba(0, 0, 0, 0.212);
    margin: 20px;
    padding: 10px;
    text-align: center;
    width: 329px;
    height: 166px;
    border-radius: 7px;
    position: relative;
    bottom: 50px;
}
.boxTExt{
    padding: 9px;
    font-weight: 200;
    font-size: 1rem;
    font-weight: normal;
}
.box:hover{
    transition: .5s all ease;
    background: black;
    box-shadow: 2px -2px 1px 1px #fa4b0c7a;
    color: white;
}
.boxExtraInfo{
    padding: 9px;
    font-size: 1.2rem;
    font-weight: lighter;
}
@media only screen and (max-width:768px) {
    .HErodiv{
        background-color: #121212;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .heroImg{
        width: 100%;
        transform: translateX(-30px);
    }
    .HEroTExtBox{
        margin-top: 50px;
        margin-left: 50px;
    }
    .threeBoxex{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}