
.menuGrid{
    display: grid;
   margin-left: 50px;
    grid-template-columns: repeat(3 , 1fr);
    /* justify-content: center; */
}
.menuPage{
    margin: 30px;
}
.MenuCard{
    width: 300px;
    margin: 10px;
    border-radius: 20px;

}
.menuImg{
    width: 300px;
}
.menuName{
    padding: 10px;
    font-weight: normal;
    font-size: 1rem;
}
.menuInfo{
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: lighter;
     padding: 10px;
}
.view{
    border: none;
    outline: none;
    padding: 10px;
    border: 3px thin black;
    border-radius: 10px;
}
.star{
    display: flex;
    margin: 10px;
}
.Mainstar{
    display: flex;
}
.number{
    font-weight: bolder;
    border: 2px  black solid;
    padding: 10px;
    border-radius: 10px;
}
.GridCard{
    border: 5px solid red;
    padding: 10px;
    margin: 12px;
}
.asideGrid{
    display: grid;
}
@media only screen and (max-width:768px) {
    .deliveryThreeBOx{
        display: flex;
        flex-wrap: wrap;
    } 
    .delievryTextBox{
        width: 350px;
        margin: 0px;
    }
    .menuGrid{
       display: flex;
       flex-wrap: wrap;
       justify-content:center;
       align-items: center;
       margin-left:0px;
    }
    }