
.menuGrid{
    display: grid;
   margin-left: 50px;
    grid-template-columns: repeat(3 , 1fr);
    /* justify-content: center; */
}
.menuPage{
    margin: 30px;
}
.MenuCard{
    width: 300px;
    margin: 10px;
    border-radius: 20px;

}
.menuImg{
    width: 300px;
}
.menuName{
    padding: 10px;
    font-weight: normal;
    font-size: 1rem;
}
.menuInfo{
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: lighter;
     padding: 10px;
}
.view{
    border: none;
    outline: none;
    padding: 10px;
    border: 3px thin black;
    border-radius: 10px;
}
.star{
    display: flex;
    margin: 10px;
}
.Mainstar{
    display: flex;
}
.number{
    font-weight: normal;
    border: 2px  black solid;
    padding: 10px;
    border-radius: 10px;
     position: relative;
     top: 2px;
     left: 8px;
    font-size: 10px;
}
.why{
    font-size: 1.5rem;
    margin: 20px;
}
.GridCard{
    padding: 20px;
      width: 100%;
      box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.185);
      border-radius: 15px;
}
.gridParagraph{
    font-size: rem;
    text-wrap: balance;
    font-family: sans-serif;
    margin: 15px;
}
.GridCardText{
    font-size: 1rem;
    font-weight: normal;
    margin: 15px;
}
.asideGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.AsideFlex{
    display: flex;
}
.table{
    width:40%;
}

@media only screen and (max-width:768px) {
    .deliveryThreeBOx{
        display: flex;
        flex-wrap: wrap;
    } 
    .delievryTextBox{
        width: 350px;
        margin: 0px;
    }
    .menuGrid{
       display: flex;
       flex-wrap: wrap;
       justify-content:center;
       align-items: center;
       margin-left:0px;
    }
     .AsideFlex{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
     }
     .asideGrid{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 30px;
     }
     .table{
        width: 100%;
     }
     .why{
        font-size: 1rem;
        margin: 10px;  
     }
     .view{
        width: 100%;
     }
    }